@charset "UTF-8";
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

.headerClass {
  background-color: rgba(223, 161, 86, 0.475);
  gap: .3125rem;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  list-style: none; }
  .headerClass li a {
    color: black;
    text-decoration: none;
    padding: 0.3125rem 0.625rem;
    border: 0.125rem solid black;
    border-radius: .3125rem;
    list-style: none;
    margin: 0.625rem;
    display: block; }
    .headerClass li a:hover {
      color: rgba(255, 0, 0, 0.63);
      text-decoration: underline; }

body {
  font-family: "Istok Web", sans-serif;
  font-weight: 700;
  font-style: normal; }

.fondoUno {
  background-image: url("../assets/img/viajes.jpg");
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.h1Class {
  font-size: 2.8125rem;
  display: flex;
  justify-content: center;
  padding-left: .625rem;
  text-shadow: 0.3125rem 0.5rem 0.75rem rgba(0, 0, 0, 0.564); }

.h2Class {
  display: flex;
  justify-content: center;
  padding-left: .625rem;
  text-shadow: 0.3125rem 0.5rem 0.75rem rgba(0, 0, 0, 0.612); }

.h3Inicio {
  margin-left: .625rem;
  text-shadow: .3125rem .5rem .75rem black; }

.contenedor {
  display: flex;
  justify-content: center; }

.logote {
  opacity: 0.3;
  border-radius: 50%;
  margin: .9375rem;
  box-shadow: .3125rem .5rem .75rem black; }

.h3Index {
  font-size: 1.5625rem;
  background-color: rgba(223, 161, 86, 0.505);
  gap: 2.5rem; }

.imgIndex1, .imgIndex2, .imgIndex3, .imgIndex4 {
  width: 17.5rem;
  height: 12.5rem;
  margin: 1%;
  border-radius: .625rem;
  box-shadow: .3125rem .5rem .75rem black;
  cursor: pointer;
  transition: all 0.3ms ease-in-out; }
  .imgIndex1:hover, .imgIndex2:hover, .imgIndex3:hover, .imgIndex4:hover {
    transform: scale(1.1);
    box-shadow: .3125rem .5rem .75rem black; }

.footerImg {
  gap: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 1.5625rem;
  box-shadow: .3125rem .5rem .75rem black;
  list-style: none; }

h6 {
  font: unset;
  color: red;
  margin-left: .625rem; }

.fondoDos {
  background-color: rgba(223, 161, 86, 0.475);
  background-image: url("../assets/img/cataratas.jpg");
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.mainClass {
  background-color: rgba(247, 245, 243, 0.598); }

.h1Destinos {
  background-color: rgba(223, 161, 86, 0.475);
  font-size: 2.8125rem;
  padding-left: .625rem;
  text-shadow: 0.3125rem 0.5rem 0.75rem rgba(0, 0, 0, 0.651); }

.h2Destinos {
  margin: .625rem;
  padding-left: 1.25rem;
  text-shadow: 0.3125rem 0.5rem 0.75rem rgba(0, 0, 0, 0.651); }

.articlDest1, .articlDest2, .articlDest3, .articlDest4 {
  display: flex;
  flex-wrap: wrap;
  margin: .625rem; }

.imgDestinos1, .imgDestinos2, .imgDestinos3, .imgDestinos4 {
  width: 17.5rem;
  height: 12.5rem;
  margin: .625rem;
  border-radius: .625rem;
  box-shadow: .3125rem .5rem .75rem black; }

.misioDestinoh3, .esteroDestinoh3, .glaciarDestinoh3, .puertoDestinoh3 {
  margin: 0.625rem;
  padding-top: .625rem;
  text-shadow: .3125rem .5rem .75rem black; }

.pDestinos1, .pDestinos2, .pDestinos3, .pDestinos4 {
  width: 31.25rem;
  height: 12.5rem;
  margin: .625rem;
  padding-top: 1.875rem;
  padding-bottom: .9375rem;
  text-shadow: .3125rem .5rem .75rem black; }

.fondoTres {
  background-color: rgba(203, 188, 168, 0.888);
  background-image: url("../assets/img/iberá.jpg");
  background-size: 100% 100%;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat; }

.h1Hospedajes {
  background-color: rgba(223, 161, 86, 0.475);
  font-size: 2.8125rem;
  padding-left: .625rem;
  text-shadow: 0.3125rem 0.5rem 0.75rem rgba(0, 0, 0, 0.562); }

.h2Hosp {
  text-shadow: 0.3125rem 0.5rem 0.75rem rgba(0, 0, 0, 0.562); }

.pHosp {
  text-shadow: .3125rem .5rem .75rem black;
  margin: .625rem; }

.sectionArtimg {
  background-color: rgba(247, 245, 243, 0.598);
  padding-left: 1.25rem; }

.img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8, .img9, .img10, .img11, .img12, .img13, .img14, .img15 {
  width: 300px;
  height: 200px;
  border-radius: .3125rem; }

.sectionTips {
  background-color: rgba(255, 228, 196, 0.685);
  padding-left: 1.25rem;
  text-shadow: .3125rem .5rem .75rem black; }

.imgNorma, .imgCircu {
  width: 18.75rem;
  height: 12.5rem;
  margin: .625rem;
  border-radius: .625rem;
  box-shadow: .3125rem .5rem .75rem black; }

.fondoCuatro {
  background-color: rgba(221, 187, 145, 0.74);
  background-image: url("../assets/img/glaciarfond.jpg");
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.h1Pagos {
  background-color: rgba(223, 161, 86, 0.475);
  font-size: 2.8125rem;
  padding-left: .625rem;
  text-shadow: 0.3125rem 0.5rem 0.75rem rgba(0, 0, 0, 0.651); }

.h2Pagos {
  font-size: 1.5625rem;
  padding-left: 1.25rem;
  text-shadow: 0.3125rem 0.5rem 0.75rem rgba(0, 0, 0, 0.651);
  margin: .625rem; }

.sectionPagos {
  margin-top: 3.125rem;
  background-color: rgba(240, 254, 255, 0.263);
  padding: .625rem; }

.sectionPagos1 {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, 30%);
  justify-content: center;
  margin: auto; }

.h3Pagoss1 {
  text-shadow: .3125rem .5rem .75rem black; }

.img16, .img17, .img18 {
  width: 15.625rem;
  height: 15.625rem;
  margin: .625rem;
  border-radius: .3125rem;
  box-shadow: .3125rem .5rem .75rem black; }

.sectionPagos2 {
  display: grid;
  margin-top: 3.125rem;
  background-color: rgba(240, 254, 255, 0.263);
  justify-items: center;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 30%); }

.h3Pagoss2 {
  margin-top: 3.125rem;
  background-color: rgba(240, 254, 255, 0.263);
  justify-content: center;
  text-shadow: .3125rem .5rem .75rem black; }

.img19, .img20 {
  width: 15.625rem;
  height: 15.625rem;
  margin: .625rem;
  border-radius: .625rem;
  box-shadow: .3125rem .5rem .75rem black; }

.ulPagos {
  margin-top: 3.125rem;
  background-color: rgba(240, 254, 255, 0.263); }

.footPagos {
  display: grid;
  grid-template-columns: repeat(3, 10%);
  justify-content: center;
  align-content: end;
  list-style: none; }

.footerP {
  width: 2.5rem;
  height: 2.5rem;
  gap: 2.5rem;
  border-radius: 50%;
  box-shadow: .3125rem .5rem .75rem black; }

.fondoCinco {
  background-color: rgba(223, 161, 86, 0.475);
  background-image: url("../assets/img/ballenas.webp");
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.h1Contacto {
  background-color: rgba(223, 161, 86, 0.475);
  font-size: 2.8125rem;
  padding-left: .625rem;
  text-shadow: 0.3125rem 0.5rem 0.75rem rgba(0, 0, 0, 0.651); }

.h2Margin {
  margin: .625rem;
  background-color: rgba(240, 254, 255, 0.589);
  text-shadow: 0.3125rem 0.5rem 0.75rem rgba(0, 0, 0, 0.651); }

.sectionContacto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(240, 254, 255, 0.589); }

.contactoImg {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  background-color: rgba(240, 254, 255, 0.589); }

.contactosImg {
  gap: 3.125rem;
  margin: 1.5625rem;
  font-size: 1.25rem;
  list-style: none;
  text-shadow: 0.3125rem 0.5rem 0.75rem rgba(0, 0, 0, 0.651); }
  .contactosImg li .pepito {
    box-shadow: .3125rem .5rem .75rem black;
    border-radius: 20%;
    gap: 3.125rem;
    margin: 1.5625rem; }

.fieldContacto {
  margin: 1.25rem; }

.footContacto {
  background-color: rgba(240, 254, 255, 0.589);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1.25rem; }

.ifClass {
  border-radius: .3125rem;
  box-shadow: .3125rem .5rem .75rem black; }

.h3Nos {
  padding: 1.25rem;
  text-shadow: 0.3125rem 0.5rem 0.75rem rgba(0, 0, 0, 0.651); }

@media (max-width: 1024px) {
  .img16, .img17, .img18, .img19, .img20 {
    width: 12rem;
    height: 12rem;
    margin: .625rem;
    border-radius: .3125rem;
    box-shadow: .3125rem .5rem .75rem black; }
  .imgIndex1, .imgIndex2, .imgIndex3, .imgIndex4, .imgIndex2, .imgIndex3, .imgIndex4 {
    width: 17.5rem;
    height: 12.5rem;
    margin: 4%;
    border-radius: .625rem;
    box-shadow: .3125rem .5rem .75rem black;
    cursor: pointer;
    transition: all 0.3ms ease-in-out; }
    .imgIndex1:hover, .imgIndex2:hover, .imgIndex3:hover, .imgIndex4:hover, .imgIndex2:hover, .imgIndex3:hover, .imgIndex4:hover {
      transform: scale(1.1);
      box-shadow: .3125rem .5rem .75rem black; } }

@media (max-width: 767px) {
  .sectionPagos1 {
    grid-template-columns: 1fr;
    grid-auto-rows: auto; }
  .sectionPagos2 {
    grid-template-columns: 1fr;
    grid-auto-rows: auto; }
  .img16, .img17, .img18, .img19, .img20 {
    width: 15rem;
    height: 15rem;
    gap: .625rem;
    margin: .3125rem;
    border-radius: .625rem;
    box-shadow: .3125rem .5rem .75rem black; }
  .footPagos {
    grid-template-columns: repeat(3, 15%); }
  .contactosImg p {
    font-size: .9375rem; }
  .imgIndex1, .imgIndex2, .imgIndex3, .imgIndex4, .imgIndex2, .imgIndex3, .imgIndex4 {
    width: 17.5rem;
    height: 12.5rem;
    margin: 12%;
    border-radius: .625rem;
    box-shadow: .3125rem .5rem .75rem black;
    cursor: pointer;
    transition: all 0.3ms ease-in-out; }
    .imgIndex1:hover, .imgIndex2:hover, .imgIndex3:hover, .imgIndex4:hover, .imgIndex2:hover, .imgIndex3:hover, .imgIndex4:hover {
      transform: scale(1.1);
      box-shadow: .3125rem .5rem .75rem black; } }
