.fondoCuatro {
    background-color: rgba(221, 187, 145, 0.74);
    background-image: url("../assets/img/glaciarfond.jpg");
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.h1Pagos {
    background-color: map-get($colores, fondoSecundario);
    font-size: 2.8125rem;
    padding-left: .625rem;
    text-shadow: 0.3125rem 0.5rem 0.75rem rgba(0, 0, 0, 0.651);
}
.h2Pagos {
    font-size: 1.5625rem;
    padding-left: 1.25rem;
    text-shadow: 0.3125rem 0.5rem 0.75rem rgba(0, 0, 0, 0.651);
    margin: .625rem;
}
.sectionPagos {
    margin-top: 3.125rem;
    background-color: map-get($colores, fondoCuaternario);
    padding: .625rem;
}
.sectionPagos1 {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
    margin: auto;
}
.h3Pagoss1 {
    text-shadow: .3125rem .5rem .75rem black;
}
.img16,.img17,.img18 {
    width: 15.625rem;
    height: 15.625rem;
    margin: .625rem;
    border-radius: .3125rem;
    box-shadow: .3125rem .5rem .75rem black;
}
.sectionPagos2 {
    display: grid;
    margin-top: 3.125rem;
    background-color: map-get($colores, fondoCuaternario);
    justify-items: center;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 30%);
}
.h3Pagoss2 {
    margin-top: 3.125rem;
    background-color: map-get($colores, fondoCuaternario);
    justify-content: center;
    text-shadow: .3125rem .5rem .75rem black;
}
.img19,.img20 {
    width: 15.625rem;
    height: 15.625rem;
    margin: .625rem;
    border-radius: .625rem;
    box-shadow: .3125rem .5rem .75rem black;
}
.ulPagos {
    margin-top: 3.125rem;
    background-color: map-get($colores, fondoCuaternario);
}
.footPagos {
    display: grid;
    grid-template-columns: repeat(3, 10%);
    justify-content: center;
    align-content: end;
    list-style: none;
}
.footerP {
    width: 2.5rem;
    height: 2.5rem;
    gap: 2.5rem;
    border-radius: 50%;
    box-shadow: .3125rem .5rem .75rem black;
}