$colores:(
    fondoSecundario:rgba(223, 161, 86, 0.475),
    fondoTerciario:rgba(247, 245, 243, 0.598),
    fondoCuaternario:rgba(240, 254, 255, 0.263),
    fondoQuinto:rgba(240, 254, 255, 0.589),
    textShadow:.3125rem .5rem .75rem black,
);