.direccion{
    color: white;
    text-align: center;
    font-size: 0.75rem;
    font-style: italic;
}
.derechos{
    color: white;
    text-align: center;
    font-size: 0.75rem;
    font-style: italic;
}
.desarrollador {
    color: red;
    margin-left: .625rem;
    font-size: 0.75rem;
    font-style: italic;
}